<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="VendorRFC" value="KTM970829RD5"/>
      <add key="OutputFolder" value="C:\vagrant\Sat\output\"/>
      <add key="DatabaseFileName" value="vendor.accdb"/>
      <add key="Month" value="01"/>
      <add key="Year" value="2016"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>